.circular-navbar-icon{
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #F0F2F5;
    margin: 2px;
    justify-content: center;
    align-items: center;
} 
.circular-icon-image{
    height: 20px;
    width: 20px;
}